/* Global Styles Start Here */
html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Global Styles End Here */

.main-container{
/* max-width: 1400px;  */
margin: auto;
width: 100%;
background-color: #26272b;
/* box-shadow: 0px 0px 12px #18191b; */
}

/* Navbar Styles Start Here */
.navbar-container{
  display: flex;
  justify-content: space-between;
  /* margin: 6px 18px; */
  position: relative;
  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
  padding: 1rem;
  z-index: 99;
}
.logo{
  color:#f4f4f4;
  font-size: 18px;
  padding-left: 1.5rem;
}
.icon {
  background-image: url("../public/logo-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.cart-icon{
  font-size: 25px;
  color: #f4f4f4;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
  padding-right: 1.5rem;

  transition: 0.5s ease-in-out;
}
.cart-icon:hover{
  transform: scale(1.1,1.1);
}
.cart-item-qty{
  position: absolute;
  right: -8px;
  font-size: 12px;
  /* color: #eee; */
  color: #26272b;
  /* background-color: #f02d34; */
  background-color: #ffd700;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

  margin-right: 1.5rem;
}
/* Navbar Styles End Here */

/* Marquee Styles Start Here */
.marquee-text{
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}
.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
/* Marquee Styles End Here */

 span.text-red {
    -webkit-text-stroke: 1px #f02d34;
    margin-left: 6px;
}

/* Main Page Products Section Styles Start Here */
.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  /* margin-top: 20px; */
  width: 100%;

  padding: 4rem 0;
  background-color: #26272b;
  /* box-shadow: 0px 0px 12px #18191b; */
}
.product-card{
 cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
 /* color: #324d67; */
 color: #f4f4f4;

 background-color: #26272b;
 box-shadow: 0px 0px 12px 18191b;
 margin-top: 25px;
}
.product-card:hover{
  transform: scale(1.1,1.1)
}
.product-image{
  border-radius: 15px;
 /* background-color: #ebebeb; */
 background-color: #26272b;
 /* background-color: #333; */
 box-shadow: 0px 0px 12px #18191b;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-name{
  font-weight: 500;
}
.product-price{
  font-weight: 800;
  margin-top: 6px;
  color: #ffd700;
}
.products-heading{
  text-align: center;
  /* margin: 40px 0px; */
  padding: 4rem 0 0 0;
 /* color: #324d67; */
 color: #f4f4f4;
 background-color: #26272b;

 /* box-shadow: 0px 0px 12px #18191b; */
}
.products-heading h2{
  font-size: 3.2rem;
  font-weight: 500;
}
.products-heading p{
  font-size: 1.2rem;
  font-weight: 200;
  color: darkgray;
}
/* Main Page Products Section Styles End Here */

/* Hero Banner Styles Start Here */
.hero-banner-container{
  padding: 50px 40px;
  /* background-color: #dcdcdc; */
  background-color: #26272b;
  position: relative;
  /* height: 500px; */
  height: auto;
  line-height: 0.9; 
  width: 100%;
  
  margin-top: -10px;
  box-shadow: 0px 0px 12px #18191b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hero-banner-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-banner-text h2 {
  color: #f4f4f4;
  text-shadow: 0.5px 0.5px 5px #fff;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}
.hero-banner-container .banner-solo{
  font-size: 20px;
  color: #f4f4f4;
  padding-left: .15rem;
}
.hero-banner-container button{
  border-radius: 15px;
  padding: 10px 16px;
  /* background-color: #f02d34; */
  background-color: #ffd700;
  color: #26272b;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index:10000 !important;
}

.hero-banner-container h3{
  font-size: 2.5rem;
  margin-top: 4px;
  font-weight: 400;
  color: darkgray;
}
.hero-banner-container h1{
  color: #f4f4f4;
  font-size: 5em;
  font-weight: 600;
  margin-left: -5px;
  text-transform: uppercase;
}
.hero-banner-image-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner-image{
  /* position: absolute;
  top: 0%;
  right:20%; */
  /* position: relative;
  display: flex;
  justify-content: center;
  align-items: center; */
  width: 450px;
  height: 450px;
  margin-right: -10%;
}
.hero-banner-image img {
  width: 100%;
}
.desc{
/* position: absolute;
right: 10%;
bottom: 5%;
width: 300px; */
position: relative;
display: flex;
justify-content: flex-end;
align-items: flex-end;
line-height: 1.3;
display: flex;
flex-direction: column;
 /* color: #324d67; */
 color: #ffd700;
}
.desc p{
  /* color: #5f5f5f; */
  color: #f4f4f4;
  font-weight: 100;
text-align: end;
}
.desc h5{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}
/* Hero Banner Styles End Here */

/* Footer Banner Styles Start Here */
.footer-banner-container{
  padding: 100px 40px;
  /* background-color: #f02d34; */
  background-color: #26272b;
  /* box-shadow: 0px 0px 12px #18191b; */
  /* z-index: 99; */
  /* border-radius: 15px; */
  position: relative;
  height: 400px;
  line-height: 1; 
  color: white;
  width: 100%;
  /* margin-top: 120px; */
  display: flex;
  justify-content:space-evenly;
}
.banner-desc{
  display: flex ;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
}
.discount-price {
  font-size: 2rem;
}
.banner-desc button{
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #ffd700;
  color: #26272b;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.banner-desc .left h3{
  font-weight: 500;
  font-size: 3.5rem;
  margin-left: 10px;

  color: #f4f4f4;
}
.banner-desc .left p{
  margin:18px;
  color: #ffd700;
}
.footer-banner-image{
  /* position: absolute; */
  /* top: -35%;
  left: 8%; */
  /* top: 2rem;
  left: 35%; */
  max-height: 350px;
}
.banner-desc .right{
  line-height: 1.4;
}
.banner-desc .right h3{
  font-weight: 500;
  font-size: 3.5rem;

  color: #f4f4f4;
}
.banner-desc .right p{
  font-size: 18px;
  color: gray;
}
.banner-desc .right .company-desc{
  font-size: 14px;
  font-weight: 300;
}
/* Footer Banner Styles End Here */

/* Cart Styles Start Here */
.cart-wrapper{
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}
.cart-container{
  height: 100vh;
  width: 600px;
  background-color: rgba(0,0,0,0.7);
  /* background-color: white; */
  float: right;
  padding: 40px 10px;
  position: relative;
  
}
.cart-heading{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  
  color: #f4f4f4;
}

.cart-heading .heading{
  margin-left: 10px;
}
.cart-num-items{
  margin-left: 10px;
  /* color: #f02d34; */
  color: #ffd700;
}
.empty-cart{
  margin:40px;
  text-align:center;
  color: #f4f4f4;
}
.empty-cart h3{
  font-weight: 600;
  font-size: 20px;
}
.cancel{
  cursor: pointer;
}
/* Cart Styles End Here */

/* Footer Styles Start Here */
.footer-container{
  /* color: #324d67; */
  color: #f4f4f4;
  background-color: #26272b;
  text-align: center;
  /* margin-top: 20px; */
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;

  box-shadow: 0px 0px 12px #18191b;
  /* z-index: 99; */
}
.footer-container .icons{
  font-size: 30px;
  display: flex;
  gap: 10px;

  color: #ffd700;
}
/* Footer Styles End Here */

.product-container{
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}
.product{
  display: flex;
  gap: 30px;
  padding: 20px;
}
.product .cart-product-image{
  width:180px ;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}
.item-desc .flex{
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}
.item-desc .bottom{
  margin-top: 60px;
}
.flex h5{
  font-size: 24px;
}
.flex h4{
  font-size: 20px;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total h3{
  font-size: 22px;

}
.remove-item{
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cart-bottom{
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;

}

.btn-container{
  width: 400px;
  margin: auto;
}
.btn{
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  /* background-color: #f02d34; */
  background-color: #ffd700;
  color: #26272b;
  cursor: pointer;
    transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover{
  transform: scale(1.1,1.1);
}

/* .product-detail-container-wrapper {
  box-shadow: 0px 0px 12px #18191b;
} */

.product-detail-container{
  display: flex;
 gap: 40px;
 /* margin: 40px; */
 /* margin-top: 60px; */
 padding: 4rem;
 /* color: #324d67; */
 color: #f4f4f4;

 background-color: #26272b;
 box-shadow: 0px 0px 12px #18191b;
}
.product-detail-image{
  border-radius: 15px;
  background-color: #ebebeb;
  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.product-detail-image:hover{
  /* background-color: #f02d34; */
  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
}
.small-images-container{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image{
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image{
  /* background-color:#f02d34; */
  background-color:#26272b;
  box-shadow: 0px 0px 12px #18191b;
}
.reviews{
  /* color: #f02d34; */
  color: #ffd700;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc h4{
  margin-top: 10px;
}
.product-detail-desc p{
  margin-top: 10px;
}
.reviews p{
  /* color: #324d67; */
  color: #f4f4f4;
  margin-top: 0px;
}
.product-detail-desc .price{
  font-weight: 700 ;
  font-size: 26px;
  margin-top: 30px;
  /* color:#f02d34; */
  color:#ffd700;
}
.price .old-price, .product-price .old-price, .price .old-price{
  color: gray;
  text-decoration: line-through;
}
.product-detail-desc .quantity{
  display: flex;
  gap: 20px;
  margin-top: 10px ;
  align-items: center;
}
.product-detail-desc .buttons{
  display: flex;
  gap: 30px;
}
.buttons .add-to-cart{
  padding: 10px 20px;
  /* border: 1px solid #f02d34; */
  border: 1px solid #ffd700;
  /* box-shadow: 0px 0px 12px #18191b; */
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: #f4f4f4;
  /* color: #f02d34; */
  color: #26272b;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;

  /* outline: none; */
}
.buttons .add-to-cart:hover{
  transform:scale(1.05,1.05)
}
.buttons .buy-now{
  width: 200px;

  padding: 10px 20px;
  /* background-color: #f02d34; */
  background-color: #ffd700;
  color: #26272b;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
   transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy-now:hover{
  transform:scale(1.1,1.1)
}
.quantity-desc{
  border: 1px solid gray;
padding: 6px;
}
.quantity-desc span{
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}
.quantity-desc .minus{
  border-right: 1px solid gray;
  color: #f02d34;
}
.quantity-desc .num{
  border-right: 1px solid gray;
  font-size: 20px;
}
.quantity-desc .plus{
  color: rgb(49, 168, 49);

}

/* Suggested Items Styles Start Here */
.maylike-products-wrapper{
  margin-top: 75px;
}
.maylike-products-wrapper h2{
  text-align: center;
  margin: 50px;
  /* color: #324d67; */
  color: #f4f4f4;
  font-weight: 500;
  font-size: 28px;
}
.maylike-products-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  /* margin-top: 20px; */
}
/* Suggested Items Styles End Here */

.max-qty{
  font-weight: 500;
  color: #f02d34;
}
.success-wrapper, .cancel-wrapper{
  background-color: #26272b;
  min-height: 72vh;
  padding-top: 3rem;
}
.success, .cancel{
  /* width: 1000px; */
  width: 900px;
  height: auto;
  margin: auto;
  padding-top: 8rem;
  /* margin-top: 160px; */
  /* background-color: #dcdcdc; */
  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
  padding: 50px;
  /* margin-top: 2rem; */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
   color: #ffd700;
   font-size: 40px;
}
.success h2{
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  /* color:#324d67; */
  color:#f4f4f4;
  font-weight: 500;
}
.success .email-msg{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #f4f4f4;
}
.cancel p{
  font-size: 20px;
  font-weight: 600;
}
.success .description{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  /* margin: 10px; */
  margin-top: 30px;
  color: #f4f4f4;
}
.success .description .email{
  margin-left: 5px;
  color: #f02d34;
}
.product-max-qty{
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .hero-banner-image {
    width: 400px;
    height: 400px; 
    /* margin-right: -15%; */
    justify-content: center;
    align-items: center;
  }
  .desc {
    width: 100%;

    height: auto;
  }
  .footer-banner-image {
    height: 300px;
  }
}

@media screen and (max-width:800px) {
  .hero-banner-container{
    min-height: 500px;
    height: auto;
    padding: 0 40px;
  }
  .hero-banner-text {
    /* justify-content: flex-end; */
    padding-top: 5rem;
  }
  .hero-banner-image{
    /* width: 77%;
    height: 62%;
    top: -2%;
    right: -6%; */
    /* width: 75%; */
    /* height: 75%; */
    width: 350px;
    height: 350px; 
    /* margin-right: -10%; */
  }
  .footer-banner-container{
    /* height: 560px; */
    height: auto;
    /* margin-top: 80px; */

    padding: 10px 40px 40px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-banner-image{
    /* width: 77%;
    left: 30%;
    top: 6%;
    height: 56% */
    height: 250px;
  }
  .banner-desc {
    justify-content: center;
  }
  .banner-desc .left h3{
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .banner-desc .left p{
    margin:18px;
  }
  .banner-desc .right h3{
    font-size: 45px;
  }
  .banner-desc .right p{
    font-size: 18px;
  }
  .banner-desc .right .company-desc{
    font-size: 14px;
  }
  .banner-desc{
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero-banner-container{
    line-height: 1.3;
  }
  .hero-banner-container h1{
    font-size: 50px;
  }
 .hero-banner-container h3{
    font-size: 40px;
  }
  .hero-banner-container button{
    /* margin-top: 90px; */
    z-index: 10000;
  }
  .desc{
   bottom: 60px;
  }
  .product-detail-container{
    flex-wrap: wrap;
    }
  .product-detail-container .product-detail-image{
    width: 350px;
    height: 350px;
  }
  .cart-container{
    width: 415px;
  padding: 4px;
  }
  .cart-heading{
    margin-top: 35px;
  }
  .product-container{
    margin-top: 10px;
  }
  .product{
    padding: 20px 5px;

  }
  .product .cart-product-image{
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart{
    width: 150px;
  }
  .buttons .buy-now{
    width: 150px;
  }
  .product-detail-container{
    margin: 20px;
  }

.item-desc .flex{
  width: 200px;
}
.top{
  flex-wrap: wrap;
  gap: 10px;


}
.item-desc .bottom{
  margin-top: 30px;
}
.flex h5{
  font-size: 16px;
   color: #324d67;
}
.flex h4{
  font-size: 16px;
   color: black;
}
.cart-bottom{
  padding: 30px;
}

.total h3{
  font-size: 20px;
}
.track {
  animation: marquee 10s linear infinite;
  width: 550%;
}
.success-wrapper, .cancel-wrapper{
 
  min-height: 69vh;
}
.success, .cancel {
   width: 370px;
  margin-top: 100px;
  padding: 20px;
}
.success{
  height: 350px;
}
.success h2{
  font-size: 17px;
}
.btn-container{
  width: 300px;
  margin: auto;
}
}

@media screen and (max-width: 678px) {
  .hero-banner-image {
    width: 250px;
    height: 250px; 
    /* margin-right: -25%; */
    /* margin-top: -5rem; */
  }
  .hero-banner-container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 599px) {
  .hero-banner-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-banner-text {
    padding-top: 2rem;
  }
  .hero-banner-image {
    margin-right: 0;
  }
  .hero-banner-container button {
    margin-top:  10px;
    margin-bottom: 10px;
  }
  .desc {
    align-items: center;
    margin-top: 4rem;
  }
  .desc h5 {
    align-self: center;
  }
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
